* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: #fff;
}

a {
    color: unser;
    text-decoration: none;
}

.bgr {
    background-color: black;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}